@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-agreement:before {
	content: "\e000";
}
.flaticon-aim5:before {
	content: "\e001";
}
.flaticon-balancing3:before {
	content: "\e002";
}
.flaticon-calendar68:before {
	content: "\e003";
}
.flaticon-costume4:before {
	content: "\e004";
}
.flaticon-goal5:before {
	content: "\e005";
}
.flaticon-hand-1:before {
	content: "\e006";
}
.flaticon-hand220:before {
	content: "\e007";
}
.flaticon-human45:before {
	content: "\e008";
}
.flaticon-objective:before {
	content: "\e009";
}
.flaticon-plant14:before {
	content: "\e00a";
}
.flaticon-rope4:before {
	content: "\e00b";
}
.flaticon-target21:before {
	content: "\e00c";
}
.flaticon-targets:before {
	content: "\e00d";
}
